# /etc/systemd/system/mediaserver.service

[Unit]
Description=Mediaserver Service
Requires=docker.service
After=docker.service
StartLimitIntervalSec=60

[Service]
User=media
Group=media
WorkingDirectory=/var/media
ExecStart=/usr/bin/env /usr/bin/docker-compose -f /var/media/docker-compose.yml up -d
ExecStop=/usr/bin/env /usr/bin/docker-compose -f /var/media/docker-compose.yml stop
TimeoutStartSec=0
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target