# /etc/systemd/system/mediaserver.service

[Unit]
Description=Mediaserver Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/var/media
ExecStart=/usr/bin/env /usr/bin/docker-compose -f /var/media/docker-compose.yml up -d
ExecStop=/usr/bin/env /usr/bin/docker-compose -f /var/media/docker-compose.yml down

[Install]
WantedBy=multi-user.target
