# /etc/systemd/system/mediaserver.service

[Unit]
Description=Mediaserver Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/var/media
ExecStart=/usr/bin/env /usr/bin/docker-compose -f /var/media/docker-compose.yml up -d
ExecStop=/usr/bin/env /usr/bin/docker-compose -f /var/media/docker-compose.yml stop
Restart=on-failure

[Install]
WantedBy=multi-user.target